@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,700;1,700&family=Hina+Mincho&family=Montserrat&family=Oswald:wght@200;500;700&display=swap');

:root {
    --BG1 :white;
    --BG2 :#F4F9F9;
    --A :#A4EBF3;
    --B :#CCF2F4;
    --txtc : #0B3335;
    --txtb : #000;
    background-color: var(--B);
    color: var(--txtc);
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    
}
.bg1 {
    background-color: var(--BG1);
}
.bg2 {
    background-color: var(--BG2);
}
.a {
    background-color: var(--A);
}
.b {
    background-color: var(--B);
}
h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
h2 {
    font-weight: 400;
}
h3 {
    font-weight: 300;
}
a {
    text-decoration: none;
    color: var(--txtc);
}

/* Navigation bar */
#navbar {
    height: fit-content;
    width: 90vw;
    top: 8px;
    left: 5vw;
    right: 5vw;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    position: fixed;
}

.left {
    height: inherit;
    width: 40%;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.right {
    height: inherit;
    width: 60%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.navelements {
    align-self: center;
    margin: 0px;
    padding: 0px 12px 0px 12px;
}

.title {
    align-self: center;
    margin: 0px;
    padding: 0px 12px 0px 12px;
}

.hover:hover {
    color: rgba(70, 70, 70,0.4);
    padding: 0px 20px 0px 20px;
}

.titlehover:hover {
    color: var(--txtb);
}

/* Moile Optimisations */
@media only screen and ( max-device-width: 715px) {
    #Menu {
        display: block;
        width: fit-content;
    }
    #navbar {
        position: fixed;
    }
    .navmob {
        text-align: center;
    }
    .right {
        padding-right: 30px;
    }
    .navelements {
        display: none;
    }
    .navmob {
        display: block;
    }

}
@media only screen and ( max-device-width: 715px) {
    .title {
        font-size: 0.4em;
    }
    #Menu {
        font-size: 0.8em;
    }
}
@media only screen and ( min-device-width: 715px) {
    #Menu {
        display: none;
    }
}

/* Home Section */
#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 92vw;
    background-color: var(--B);
}

.HomeTitle {
    letter-spacing: 1px;
    margin: 30px;
    font-weight: 200;
}

#TitleDiv{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


#Moheet {
    font-size: 3em;
    letter-spacing: 5px;
}

#HomeSummary {
    font-weight: 300px;
}

.HomeDescription {
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and ( max-device-width: 715px){

    .HomeTitle {
        letter-spacing: 0.7px;
        margin: 8px;
        font-weight: 200;
    }
    
    #TitleDiv{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    
    #Moheet {
        font-size: 2em;
        letter-spacing: 3px;
    }
    
    #HomeSummary {
        font-weight: 200px;
        font-size: 1.1em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .HomeDescription {
        font-weight: 200;

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0px 30px;
    }    
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--txtb); /* The typwriter cursor */
    white-space: nowrap;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--txtb); }
  }


/* Education Section */
#Education {
    height: fit-content;
    width: 100vw;
    background-color: var(--BG2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
}
.SectionTitle {
    letter-spacing: 5px;
    font-size: 2em;
    width: 100%;
    height: fit-content;
    background-color: var(--BG2);
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px dotted black;
    padding: 20px;
    margin-top: 0px;

}

.flexmaster {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.container {
    min-width: fit-content;
    min-height: fit-content;
    width: 25vw;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--B);
    border-radius: 13px;
}

.ContainerTitle {
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0px;
}

.ContainerSubtitle {
    text-align: center;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0px;
}

/* Experience Section */
#Experience {
    height: fit-content;
    width: 100vw;
    background-color: var(--BG2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
}

#ExperienceFlexMaster {
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

summary {
    font-size: 1.5em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.ExperienceSubtitle {
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.fit {
    height: fit-content !important;
    width: fit-content !important;
    min-width: 20vw;
    min-height: 8vw;
    margin: 13px !important;
    padding: 0px 20px;
}

.exp {
    text-align: left;
    font-size: 1em;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--txtc);
}

/* Social Section */
#Social {
    height: fit-content;
}

/* Contact Section */
#Contact {
    height: fit-content;
}